<?php

/**
 * Override the useless \ZfcUserForgotPassword\Sender\Blackhole
 */
$senderFactory = '?';


$module = [
/**
 * After resetting password, is user logged in automatically?
 */
//'auto_login' => true,
];

return [
    'zfcuserforgotpassword' => [
        'module' => $module,
    ],
    'service_manager' => [
        'factories' => [
            'zfcuserforgotpassword_sender' => $senderFactory,
        ],
    ]
];
