<?php

/**
 * Override the useless \ZfcUserForgotPassword\Sender\Blackhole
 */
$senderFactory = '?';

return [
    'service_manager' => [
        'factories' => [
            'zfcuserforgotpassword_sender' => $senderFactory,
        ],
    ]
];
